@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #ffffff;
  padding: 20px 42px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

.header {
  padding: 50px 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}
.header .container .body {
  display: flex;
  align-items: center;
}
.header .container .body .nav {
  margin-left: auto;
}
.header .container .body .nav ul {
  display: flex;
  gap: 39px;
}
.header .container .body .nav ul li a {
  font-size: 1.6rem;
  line-height: 24px;
  color: #2f3a3b;
}
.header .container .body .nav ul li:first-child {
  font-weight: 600;
  color: #2f3a3b;
}
.header .container .body .nav ul li:hover {
  opacity: 0.6;
}
.header .container .body .btn-action {
  margin-left: 177px;
}
.header .container .body .btn-action .btn-signIn {
  font-size: 1.6rem;
  line-height: 2.4;
  text-align: center;
  color: #494949;
  margin-right: 24px;
}
.header .container .body .btn-action .btn-signIn:hover {
  opacity: 0.6;
}
.header .container .body .btn-action .btn-signUp {
  padding: 12px 23px 12px 24px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4;
  color: #1ebfc1;
  border: 1px solid #1ebfc1;
  border-radius: 6px;
}
.header .container .body .btn-action .btn-signUp:hover {
  background-color: #2ac9bf;
  color: #fff;
}

main {
  padding-top: 140px;
}
main .hero {
  padding-bottom: 80px;
}
main .hero .container .body {
  display: flex;
  gap: 70px;
}
main .hero .container .body .content {
  width: 39%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .hero .container .body .content .title {
  margin-bottom: 18px;
  font-size: 1.4rem;
  line-height: 2.1;
  color: #767e7e;
}
main .hero .container .body .content .heading {
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.16;
  color: #0d1111;
}
main .hero .container .body .content .desc {
  width: 374px;
  margin: 46px 0 52px;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #9da6a5;
}
main .hero .container .body .content .btn-hero {
  display: flex;
  align-items: center;
  gap: 50px;
}
main .hero .container .body .content .btn-hero .btn-play {
  display: inline-block;
  width: 62px;
  height: 62px;
  background: #ffffff;
  box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .hero .container .body .images {
  position: relative;
  background: rgba(30, 191, 193, 0.2);
  margin-left: auto;
}
main .hero .container .body .images img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
main .hero .container .body .images .hero-list .hero-course {
  position: absolute;
  top: 149px;
  left: -40px;
  display: inline-flex;
  max-width: 157px;
  padding: 18px 25px;
  background: #fefefd;
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  background-color: #fff;
}
main .hero .container .body .images .hero-list .hero-course .icon {
  width: 52px;
  height: 40px;
  background: #ff8282;
  margin-right: 16px;
  position: relative;
  border-radius: 4px;
}
main .hero .container .body .images .hero-list .hero-course .icon::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 4px;
  right: 4px;
  height: 4px;
  background: #ffffff;
  border-radius: 4px;
}
main .hero .container .body .images .hero-list .hero-course .title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #0d1111;
}
main .hero .container .body .images .hero-list .hero-schedules {
  position: absolute;
  bottom: 46px;
  left: -65px;
  display: block;
  max-width: 124px;
  padding: 16px 25px 23px;
  background: #ffffff;
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}
main .hero .container .body .images .hero-list .hero-schedules .title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #0d1111;
}
main .hero .container .body .images .hero-list .hero-schedules .quantity {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  height: 6px;
  background: #edf1f5;
  border-radius: 3px;
  position: relative;
}
main .hero .container .body .images .hero-list .hero-schedules .quantity:nth-of-type(1)::after {
  content: "";
  position: absolute;
  width: 47%;
  height: 6px;
  background: #fb9899;
  border-radius: 3px;
}
main .hero .container .body .images .hero-list .hero-schedules .quantity:nth-of-type(2)::after {
  content: "";
  position: absolute;
  width: 68%;
  height: 6px;
  background: #fb9899;
  border-radius: 3px;
}
main .hero .container .body .images .hero-list .hero-schedules .quantity:nth-of-type(3)::after {
  content: "";
  position: absolute;
  width: 44%;
  height: 6px;
  background: #fb9899;
  border-radius: 3px;
}
main .hero .container .body .images .hero-list .hero-schedules .quantity:nth-of-type(4) {
  width: 33%;
  margin: 0 auto;
}
main .hero .container .body .images .hero-list .hero-students {
  position: absolute;
  bottom: 41px;
  right: 45px;
  display: inline-block;
  padding: 18px 36px;
  background: #fefefd;
  box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}
main .hero .container .body .images .hero-list .hero-students .title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #0d1111;
}
main .hero .container .body .images .hero-list .hero-students .avatars img {
  width: 33px;
  height: 33px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-left: -15px;
}
main .features {
  margin-top: 60px;
  padding: 60px 0;
  margin-right: 146px;
}
main .features .container .features-top {
  width: 52%;
}
main .features .container .features-top .title {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #767e7e;
}
main .features .container .features-top .heading {
  margin: 18px 0;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.33;
  color: #0d1111;
}
main .features .container .features-top .desc {
  font-size: 1.8rem;
  line-height: 1.7;
  color: #767e7e;
}
main .features .container .features-list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
}
main .features .container .features-list .item {
  width: 23%;
}
main .features .container .features-list .item .icon {
  width: 102px;
  height: 106px;
  display: inline-block;
  background: #ffc147;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .features .container .features-list .item .content .title {
  margin: 26px 0 16px;
  font-weight: 600;
  font-size: 2rem;
  color: #0d1111;
}
main .features .container .features-list .item .content .desc {
  font-size: 1.6rem;
  line-height: 1.69;
  color: #9da6a5;
}
main .features .container .features-list .item:nth-of-type(2) .icon {
  background: #ff947a;
}
main .features .container .features-list .item:nth-of-type(3) .icon {
  background: #bf83ff;
}
main .courses {
  padding: 70px 0 126px;
}
main .courses .container .courese-top .title {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #767e7e;
}
main .courses .container .courese-top .heading {
  margin: 18px 0;
  font-weight: 700;
  font-size: 4.2rem;
  color: #0d1111;
}
main .courses .container .courese-top .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .courses .container .courese-top .row .desc {
  max-width: 526px;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #767e7e;
}
main .courses .container .courese-top .row .viewAll {
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration-line: underline;
  color: #1ebfc1;
}
main .courses .container .courese-list {
  display: flex;
  gap: 47px;
  margin-top: 80px;
}
main .courses .container .courese-list .item {
  position: relative;
}
main .courses .container .courese-list .item a {
  position: relative;
  display: block;
}
main .courses .container .courese-list .item a img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
main .courses .container .courese-list .item a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 3px);
  inset: 0;
  background: #d0efed;
  opacity: 0.35;
}
main .courses .container .courese-list .item .content {
  position: absolute;
  left: 17px;
  right: 17px;
  bottom: -124px;
  padding: 18px 82px 29px 25px;
  background: #ffffff;
  box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
main .courses .container .courese-list .item .content .heading {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.5;
  color: #0d1111;
}
main .courses .container .courese-list .item .content .prices {
  display: block;
  margin: 16px 0 6px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #767e7e;
}
main .courses .container .courese-list .item .content .prices strong {
  font-weight: 700;
  font-size: 2.2rem;
  color: #0d1111;
}
main .courses .container .courese-list .item .content .title {
  font-size: 1.4rem;
  color: #9da6a5;
  line-height: 2.1;
}
main .courses .container .courese-list .item .content .row {
  margin-top: 18px;
  font-size: 1.4rem;
  color: #9da6a5;
  display: flex;
}
main .courses .container .courese-list .item .content .row span {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 16px;
}
main .courses .container .courese-list .item .content .row span::before {
  content: "";
  position: absolute;
  left: -14px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #1ebfc1;
}
main .statistical {
  margin-top: 132px;
  padding: 132px 0;
}
main .statistical .container .content .listStatistics {
  display: flex;
  justify-content: center;
  gap: 200px;
}
main .statistical .container .content .listStatistics .value {
  text-align: center;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.5;
  color: #0d1111;
}
main .statistical .container .content .listStatistics .title {
  margin-top: 15px;
  font-size: 1.8rem;
  color: #767e7e;
}
main .feedback {
  margin-top: 66px;
  padding: 66px 0;
}
main .feedback .container .body {
  display: flex;
  gap: 72px;
  height: 480px;
  align-items: center;
}
main .feedback .container .body .info blockquote {
  width: 420px;
  margin: 27px 0 33px;
  font-size: 3.2rem;
  line-height: 1.5;
  color: #5d6564;
}
main .feedback .container .body .info .author {
  position: relative;
  padding-left: 14px;
  font-size: 1.6rem;
  color: #5d6564;
  display: flex;
  align-items: center;
}
main .feedback .container .body .info .author strong {
  font-weight: 500;
  color: #070707;
}
main .feedback .container .body .info .author::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  left: 0;
  background: #070707;
}
main .feedback .container .body .info .control {
  display: flex;
  margin-top: 52px;
  gap: 30px;
}
main .feedback .container .body .info .control .btn-control {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #2ac9bf;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .feedback .container .body .feedback-img {
  width: 58%;
}
main .feedback .container .body .feedback-img .avatar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
  position: relative;
}
main .feedback .container .body .feedback-img .avatar-list .avartar {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 50%;
}
main .feedback .container .body .feedback-img .avatar-list .avartar:nth-of-type(1) {
  width: 235px;
  height: 235px;
  background-color: #ea5455;
}
main .feedback .container .body .feedback-img .avatar-list .avartar:nth-of-type(2) {
  width: 92px;
  height: 92px;
  background-color: #19a7ce;
  left: 144px;
  top: 0;
}
main .feedback .container .body .feedback-img .avatar-list .avartar:nth-of-type(3) {
  width: 110px;
  height: 110px;
  background-color: #8f43ee;
  right: 0;
  top: 19px;
}
main .feedback .container .body .feedback-img .avatar-list .avartar:nth-of-type(4) {
  bottom: 145px;
  left: 0;
  background-color: #ffd966;
}
main .feedback .container .body .feedback-img .avatar-list .avartar:nth-of-type(5) {
  bottom: 0;
  left: 212px;
  background-color: #df7857;
}
main .feedback .container .body .feedback-img .avatar-list .avartar:nth-of-type(6) {
  right: 32px;
  bottom: 29px;
  background-color: #c9eeff;
}
main .createAccount {
  padding: 66px 0;
  background: #def6f5;
}
main .createAccount .container .content {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .createAccount .container .content .info .heading {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.5;
  color: #070707;
}
main .createAccount .container .content .info .desc {
  margin-top: 18px;
  font-size: 1.8rem;
  line-height: 2.7;
  color: #767e7e;
}

footer.footer {
  padding: 130px 0;
}
footer.footer .container .row {
  display: flex;
  gap: 96px;
}
footer.footer .container .row .column {
  width: 33.33%;
}
footer.footer .container .row .column .title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #2e2e2e;
}
footer.footer .container .row .column .list li {
  margin-bottom: 20px;
}
footer.footer .container .row .column .list li a {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #535353;
}
footer.footer .container .row .column .list li a img {
  margin-right: 14px;
}
footer.footer .container .row .column .list li a:hover {
  opacity: 0.6;
}/*# sourceMappingURL=styles.css.map */